    <header> 
         <nav class="menuHTML"> 
             <label for="menu-toggle"> 
                 <div class="botonMenu"> 
                   <span></span> 
                   <span></span> 
                   <span></span> 
                 </div> 
             </label> 
             <input type="checkbox" id="menu-toggle" /> 
             <ul id="trickMenu"> 
                 <li> 
                    <a href="./index.html">Inicio: contenidos de biología</a> 
                 </li> 
                 <li> 
                     <a href="./primero.html">Contenidos de primer año</a> 
                 </li> 
                 <li> 
                     <a href="./segundo.html">Contenidos de segundo año</a> 
                 </li> 
                 <li> 
                     <a href="./tercero.html">Contenidos de tercer año</a> 
                 </li> 
                 <li> 
                     <a href="./registrese.html">Registrese</a> 
                 </li> 
                 <li> 
                     <a href="./contacto.html">Contacto</a> 
                 </li> 
                 <li> 
                      <a href="./bibliografia.html">Bibliografía</a> 
                 </li> 
             </ul> 
         </nav> 
         <h1>Contenidos de biología</h1> 
     </header>