{% extends './base.html' %}
    {% block contenido %}
         <main>  
         <section class="cajasección"> 
             <figure> 
                 <img src="./assets/Imagenes/experimentos_biologia_.jpg" alt="Fig. 1 - Biología (la ciencia de la vida)" width="100%"> 
                 <figcaption>Fig. 1 - Biología (la ciencia de la vida)</figcaption> 
             </figure> 
             <h2>Introducción a la biologia</h2> 
             <article> 
                 <p class="explicativo"> 
                     La biología es la ciencia natural que estudia todo lo relacionado con la vida y lo orgánico, incluyendo los procesos, sistemas, funciones, mecanismos u otros caracteres biológicos subyacentes a los seres vivos en diversos campos especializados que abarcan su morfología, fisiología, filogénesis, desarrollo, evolución, distribución e interacciones en los niveles macroscópico y microscópico. 
                 </p> 
                 <a href="http://es.wikipedia.org/wiki/Biolog%C3%ADa"><i class="fa-solid fa-dna fa-beat"></i> Significado de Biologia</a> 
             </article>                     
             <br> 
             <h3>Audio ¿Qué es la biología?</h3> 
             <audio controls loop > 
                 <source src="./assets/Audios/BIOLOGIA.mp3"> 
             </audio> 
             <br> 
             <h3>Video referido a la biología</h3> 
             <iframe width="640"  
              height="360"  
              src="https://www.youtube.com/embed/5A0IBsbSOSI"  
              title="YouTube video player"  
              frameborder="0"  
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"  
              allowfullscreen> 
             </iframe> 
         </section> 
         <br> 
         <section class="cajasección"> 
             <h2>Contenidos de primer año</h2> 
             <figure> 
                 <img src="./assets/Imagenes/biologia1_seres_vivos.jpg" alt="Contenidos primer año" width="100%"> 
             </figure> 
             <article> 
                 <p><i class="fa-solid fa-dna"></i> Los ejes principlaes de primer año son:</p> 
                 <ol type="1"> 
                     <li>  Los seres vivos, unidad y diversidad.</li> 
                     <li> Panorama general de la reproducción.</li> 
                     <li> La diversidad de los seres vivos.</li> 
                 </ol>                 
                 <a href="./primero.html"><i class="fa-solid fa-dna fa-beat"></i>  Ver mas  </a> 
             </article>                  
         </section> 
         <br> 
         <section class="cajasección"> 
             <h2>Contenidos de segundo año</h2> 
             <figure> 
                 <img src="./assets/Imagenes/biologia2_celula.jpg" alt="Contenidos segundo año" width="100%"> 
             </figure> 
             <article> 
                 <p><i class="fa-solid fa-dna"></i> Los ejes principales de segundo año son:</p> 
                 <ol type="1"> 
                     <li> La unidad de la vida - La célula.</li> 
                     <li> Evolución de los seres vivos.</li> 
                     <li> Información genética.</li>              
                 </ol> 
                 <a href="./segundo.html"><i class="fa-solid fa-dna fa-beat"></i>  Ver mas</a> 
             </article>          
         </section> 
         <br>             
         <section class="cajasección"> 
             <h2>Contenidos de tercer año</h2> 
             <figure> 
                 <img src="./assets/Imagenes/biologia3_adn.jpg" alt="Contenidos tercer año" width="100%"> 
             </figure> 
             <article> 
                 <p><i class="fa-solid fa-dna"></i> Los ejes principlaes de tercer año son:</p> 
                 <ol type="1"> 
                     <li> Flujo de la información genética.</li> 
                     <li> Los procesos evolutivos.</li> 
                     <li> Del individuo a loa ecosisttemas</li> 
                     <li> Sistemas de relación y autoregulación - De la recepción de la información a la respuesta del organismo.</li> 
                 </ol> 
                 <a href="./tercero.html"><i class="fa-solid fa-dna fa-beat"></i>  Ver mas</a> 
             </article> 
         </section> 
         <br>    
     </main>
    {% endblock contenido %}  
             
